/* CSS HEX */
--thistle: #cfbae1ff;
--black-coffee: #3a3335ff;
--russian-green: #6f8f72ff;
--papaya-whip: #fdf0d5ff;
--pearly-purple: #aa6da3ff;

/* CSS HSL */
--thistle: hsla(272, 39%, 81%, 1);
--black-coffee: hsla(343, 6%, 21%, 1);
--russian-green: hsla(126, 13%, 50%, 1);
--papaya-whip: hsla(40, 91%, 91%, 1);
--pearly-purple: hsla(307, 26%, 55%, 1);

/* SCSS HEX */
$thistle: #cfbae1ff;
$black-coffee: #3a3335ff;
$russian-green: #6f8f72ff;
$papaya-whip: #fdf0d5ff;
$pearly-purple: #aa6da3ff;

/* SCSS HSL */
$thistle: hsla(272, 39%, 81%, 1);
$black-coffee: hsla(343, 6%, 21%, 1);
$russian-green: hsla(126, 13%, 50%, 1);
$papaya-whip: hsla(40, 91%, 91%, 1);
$pearly-purple: hsla(307, 26%, 55%, 1);

/* SCSS RGB */
$thistle: rgba(207, 186, 225, 1);
$black-coffee: rgba(58, 51, 53, 1);
$russian-green: rgba(111, 143, 114, 1);
$papaya-whip: rgba(253, 240, 213, 1);
$pearly-purple: rgba(170, 109, 163, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #cfbae1ff, #3a3335ff, #6f8f72ff, #fdf0d5ff, #aa6da3ff);
$gradient-right: linear-gradient(90deg, #cfbae1ff, #3a3335ff, #6f8f72ff, #fdf0d5ff, #aa6da3ff);
$gradient-bottom: linear-gradient(180deg, #cfbae1ff, #3a3335ff, #6f8f72ff, #fdf0d5ff, #aa6da3ff);
$gradient-left: linear-gradient(270deg, #cfbae1ff, #3a3335ff, #6f8f72ff, #fdf0d5ff, #aa6da3ff);
$gradient-top-right: linear-gradient(45deg, #cfbae1ff, #3a3335ff, #6f8f72ff, #fdf0d5ff, #aa6da3ff);
$gradient-bottom-right: linear-gradient(135deg, #cfbae1ff, #3a3335ff, #6f8f72ff, #fdf0d5ff, #aa6da3ff);
$gradient-top-left: linear-gradient(225deg, #cfbae1ff, #3a3335ff, #6f8f72ff, #fdf0d5ff, #aa6da3ff);
$gradient-bottom-left: linear-gradient(315deg, #cfbae1ff, #3a3335ff, #6f8f72ff, #fdf0d5ff, #aa6da3ff);
$gradient-radial: radial-gradient(#cfbae1ff, #3a3335ff, #6f8f72ff, #fdf0d5ff, #aa6da3ff);